{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ request.path }}
<br/>

<br/>
Match ID: <input type="text" name="match_id" id="match_id" value="" />
<button id="get_ticks">Get Ticks (TODO)</button>
<button id="get_board">Get Board</button>
<button id="next_tick">Next Tick + Get Board</button>
<button id="next_tick">Clear Ticks (TODO)</button>
<br/>

<canvas id="soccer_field" width="420" height="660" style="background-color:#009840;"></canvas>


<script type="text/javascript" src="{% static 'vendor/jquery/2.1.3/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/simulator.js' %}"></script>
</body>
</html>