{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ request.path }}
<br/>
<button id="next_tick">Next Tick</button>
<br/>
<canvas id="soccer_field" width="420" height="660" style="background-color:#009840;">
</canvas>

<script type="text/javascript" src="{% static 'vendor/jquery/2.1.3/js/jquery.min.js' %}"></script>
<script>
$(document).ready(function() {
    var canvas = document.getElementById('soccer_field');
    var ctx = canvas.getContext('2d');
    var state = $.parseJSON("{{board_state|escapejs}}");
    var grid_width = 70,
        grid_length = 110,
        maxw = canvas.width,
        maxh = canvas.height;

    ctx.strokeStyle = "#4DB779";

    var hunit = maxh / grid_length,
        wunit = maxw / grid_width;

    // draw horizontal lines of the grid
    var x = 0, y = 0;
    for (var i = 0; i < grid_length; i++) {
        y = i * hunit;
        ctx.moveTo(x, y);
        ctx.lineTo(maxw, y);
        ctx.stroke();
    }
    // draw vertical lines
    y = 0;
    for (i = 0; i < grid_width; i++) {
        x = i * wunit;
        ctx.moveTo(x, y);
        ctx.lineTo(x, maxh);
        ctx.stroke();
    }

    var placePlayerAt = function(x, y) {
        ctx.beginPath()
        ctx.strokeStyle = "#000000";
        ctx.arc(x * wunit, y * hunit, 4, 0, 2 * Math.PI);
        ctx.stroke()
    }

    var player_coords = state.player_coords;

    //console.log(player_coords)

    $.each(player_coords, function(idx, coords) {
        placePlayerAt(coords[0], coords[1]);
    });

    function getCookie(name) {
        // TODO: Use jquery cookie plugin or place this in utilities area
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');


    $('#next_tick').click(function() {
        console.log("Next tick ajax call");
        $.ajax({
            url: "{{ request.path }}",
            method: "POST",
            data: {"MESSAGE": "HELLO DUDE!"},
            dataType: "json",
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            },
            success: function (data, textStatus, xhr) {
                console.log('Status = ' + textStatus);
                console.log('data =  ' + data);
            }
        })
    });



    //placePlayerAt(35, 5)
})

</script>

</body>
</html>