/*
Foundation overrides
*/
.icon-bar {
    background: #FFFFFF;
}
.icon-bar > * {
    padding: 1rem 0.5rem;
}
.icon-bar > * label {
    color: #000000;
}
.icon-bar > li:hover {
    background:#F2F2F2;
}
/*
Global helper styles
*/
.no-margins {
    /* softly clear margins */
    margin: 0;
}
.form-button {
    height: 2.3125rem;
    /* removes vertical padding */
    padding-top: 0;
    padding-bottom: 0;
}

/* Global elements*/
.spotlight {
    text-align: center;
    background-color: #F2F2F2;
    padding: 0.6rem;
    width: 100%;
    margin: 0 0 10px 0;
}
