{% extends "_base.html" %}
{% load staticfiles %}

{% block body %}
    {% url 'signup' as this_page_url %}

    <div class="row">
        <div class="small-12 large-6 columns">
            <form action="{{ this_page_url }}" method="post">
                {% csrf_token %}
                {{ signup_form }}
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="small-12 large-6 columns">Under construction</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
{% endblock %}