/*
Foundation overrides
*/
.row.fluid {
    width: 100%;
    max-width: 100%;
}

/*
Global helper styles
*/
.max-wide100 { max-width: 100px; }
.max-wide200 { max-width: 200px; }
.max-wide400 { max-width: 400px; }
.full-width { width: 100%; }

/*
DataTables integration fixes
*/
.paginate_button.current, .paginate_button.current:hover {
    color: transparent !important;
    border: none !important;
    background: none !important;
}