{% extends "admin.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans 'DDU: Simulator' %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/simulator.css' %}">
{% endblock %}

{% block content %}
<div class="row fluid">
    {# === Left Content === #}
    <div class="small-12 large-8 columns">
        {# Load game #}
        <div class="panel spotlight">
            <select name="select-match" id="select-match" class="no-margins max-wide400">
                <option value="" disabled selected>{% trans 'Pick game' %}</option>
                {% for id, match in matches.items %}
                <option value="{{ id }}">#{{ id }}: {{ match.home }} - {{ match.away }}</option>
                {% endfor %}
            </select>
            <button name="btn-match-selected" id="btn-match-selected" class="no-margins form-button">{% trans 'Load game' %}</button>
        </div>

        <h3>Logs</h3>
        <pre id="logs-area" class="snippet">No logs available yet.</pre>

        <br/>
        <h3>Ticks</h3>
        <div id="game-ticks">
            No ticks to show.
        </div>
    </div>
    {# === Right Content === #}
    <div class="small-12 large-4 columns">
        <div class="row">
            <div class="small-12 columns">
                <ul class="icon-bar five-up no-margins">
                    <li>
                        <a id="btn-sim-prev-tick" class="item" href="javascript:void(0)">
                            <img src="{% static 'img/ticks-previous.png' %}" alt="Previous"/>
                            <label>Previous</label>
                        </a>
                    </li>
                    <li>
                        <a id="btn-sim-next-tick" class="item" href="javascript:void(0)">
                            <img src="{% static 'img/ticks-next.png' %}" alt="Next"/>
                            <label>Next</label>
                        </a>
                    </li>
                    <li>
                        <a id="btn-sim-new-tick" class="item" href="javascript:void(0)">
                            <img src="{% static 'img/ticks-new.png' %}" alt="New"/>
                            <label>New</label>
                        </a>
                    </li>
                    <li>
                        <a id="btn-sim-delete-tick" class="item" href="javascript:void(0)">
                            <img src="{% static 'img/ticks-delete.png' %}" alt="Delete"/>
                            <label>Delete</label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <span id="stats-match-id">n/a</span>
            </div>
            <div class="small-4 columns text-center">
                <span id="stats-home-name">-</span>
            </div>
            <div class="small-1 columns text-center">
                <span>vs</span>
            </div>
            <div class="small-4 columns text-center">
                <span id="stats-away-name">-</span>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns">
                <span id="stats-minute"></span> <span id="stats-tick"></span>
            </div>
            <div class="small-4 columns text-center">
                <span id="stats-home-points">-</span>
            </div>
            <div class="small-1 columns text-center">
                <span>&nbsp;</span>
            </div>
            <div class="small-4 columns text-center">
                <span id="stats-away-points">-</span>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                {# Match canvas #}
                <!-- Nice canvas tutorial: http://diveintohtml5.info/canvas.html -->
                <canvas id="field-canvas" width="420" height="660"></canvas>
                <input type="hidden" id="field-canvas-match-id"/>
                <input type="hidden" id="info-current-tick-num"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript">
    var dream = dream || {};
    dream.Context = {
        'simulator-api': '{% url 'dev-simulator-api' %}'
    }

    </script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/simulator.js' %}"></script>
{% endblock %}
