{% extends "admin.html" %}
{% load staticfiles %}

{% block title %}
{{ request.path }}
{% endblock %}

{% block content %}
Match ID: <input type="text" name="match_id" id="match_id" value="" />
<button id="get_ticks">Get Ticks</button>
<button id="get_board">Get Board</button>
<button id="next_tick">Next Tick + Get Board</button>
<!-- <button id="next_tick">Clear Ticks</button> -->
<br/>
<table id="ticks"></table>

<!-- Nice canvas tutorial: http://diveintohtml5.info/canvas.html -->
<canvas id="soccer_field" width="420" height="660" style="background-color:#009840;"></canvas>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/simulator.js' %}"></script>
{% endblock %}
