{% extends "admin.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{% trans 'DDU: Team Creation Zone' %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/1.10.11/css/dataTables.foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simulator.css' %}">
{% endblock %}

{% block content %}
<div class="row column fluid">
    <h3>{% trans 'Team Creator' %}</h3>
</div>
<div class="row fluid">
    <div class="small-12 columns">
        <ul class="button-group">
            <li><a class="button">{% trans 'New Club' %}</a></li>
            <li><a class="button">{% trans 'Duplicate' %}</a></li>
            <li><a class="button">{% trans 'Delete' %}</a></li>
        </ul>
    </div>
</div>
<div class="row fluid">
    <div class="small-12 columns">
        <table id="tbl-clubs" cellspacing="0" class="display" width="100%">
            <thead>
                <tr>
                    <th>{% trans 'Teams' %}</th>
                    <th>{% trans 'Manager Name' %}</th>
                    <th>{% trans 'Club Name' %}</th>
                    <th>{% trans 'Country' %}</th>
                    <th>{% trans 'Created' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Bob Awesome</td>
                    <td>Invincible 12</td>
                    <td>Uganda</td>
                    <td>Yesterday</td>
                    <td>//Do stuff//</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Sweet Alice</td>
                    <td>Lucy in the Sky with Diamonds</td>
                    <td>Bangladesh</td>
                    <td>Today</td>
                    <td>//Do stuff//</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'datatables/1.10.11/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables/1.10.11/js/dataTables.foundation.min.js' %}"></script>
    <script type="text/javascript">
    var dream = dream || {};
    //dream.Context = {}
    </script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/team_creator.js' %}"></script>
{% endblock %}